// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "~vis-timeline/styles/vis-timeline-graph2d.css";
@import "./jpn.css";
@import 'highlight.js/styles/github.css';

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
}

/*
   * サイドバー
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* ナビゲーションバーの背面 */
    padding: 48px 0 0;
    /* ナビゲーションバーの高さ */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    /* ビューポートがコンテンツより短い場合、スクロール可能なコンテンツ */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
   * ナビゲーションバー
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.bg-light {
    background-color: #cce0cc !important;
}

body {
    background-color: #cce0cc;
}

.form-check-label {
    font-size: 1rem;
}

/* console */
.mirror-console-log-row {
    border-left: solid 10px #999;
    line-height: 1.5;
    white-space: pre;
    // font-size: 16pt;
}

.mirror-console-log-normal::before {
    content: "▶";
    color: #ddd;
    margin-right: 0.5em;
}

.mirror-console-log-error::before {
    content: "✘";
    color: #dd6964;
    margin-right: 0.5em;
}

.mirror-console-log-info::before {
    content: "▶";
    color: #8ee386;
    margin-right: 0.5em;
}

.mirror-console-log-warn::before {
    content: "⚠";
    color: #ffd080;
    margin-right: 0.5em;
}

.mirror-console-log-return::before {
    content: "◀";
    color: #ddd;
    margin-right: 0.5em;
}

h1 {
    padding: 0.5em;
    /*文字周りの余白*/
    color: #010101;
    /*文字色*/
    background: #eaf3ff;
    /*背景色*/
    border-bottom: solid 3px #516ab6;
    /*下線*/
}

h2:not(.border-bottom) {
    padding: 0.5em;
    /*文字周りの余白*/
    color: #010101;
    /*文字色*/
    background: #eaf3ff;
    /*背景色*/
    border-bottom: solid 2px #516ab6;
    /*下線*/
}

h3 {
    padding: 0.5em;
    /*文字周りの余白*/
    color: #010101;
    /*文字色*/
    background: #eaf3ff;
    /*背景色*/
    border-bottom: solid 1px #516ab6;
    /*下線*/
}

h4,
h5,
h6 {
    padding: 0.5em;
    /*文字周りの余白*/
    color: #010101;
    /*文字色*/
    background: #eaf3ff;
    /*背景色*/
}

.runJsCode::after {
    content: '実行';
}


.clrlog::after {
    content: 'クリア';
}

.labelVischkbox::after {
    content: 'タイムライン';
}

.labelSrcchkbox::after {
    content: 'script';
}

.labelIviewchkbox::after {
    content: 'View';
}


.toc {
    // position: fixed;
    // top: 0px;
    // left: 1123px;
    // width: 340px;
    font-size: 0.75em;
    background: inherit;
    padding: 0;
    white-space: nowrap;
    overflow: scroll;
    height: 100%;
}

.toc h2 {
    color: initial;
    background: inherit;
    text-align: inherit;
    // border-bottom: 1px #eee solid;
    padding: 10px;
}

.toc h2::before {
    position: initial;
    // content: '';
    // top: 100%;
    // left: 0;
    // border: none;
    border-bottom: initial;
    border-right: nitial;
}

.toc ul {
    padding: 0 10px;
}

.toc li {
    padding: 0 10px;
}

pre code[class^="language-"]:not([class="language-mermaid"]) {
    width: 80%;
    min-height: 3rem;
    max-height: 15rem;
    background-color: #eeeeee;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 3px solid #328BE9;
    border-bottom: 1px solid #000000;
    resize: vertical;
}

.cm-editor {
    resize: vertical;
    overflow: hidden;
}

iframe.repl-viewer {
    width: 80%;
    height: 10rem;
}

// table
// https://webliker.info/css/75964/

table {
    // width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

table th:first-child {
    border-radius: 5px 0 0 0;
}

table th:last-child {
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

table th {
    text-align: center;
    color: white;
    background: linear-gradient(#829ebc, #225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    // width: 25%;
    padding: 10px 0;
}

table td {
    text-align: start;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top: none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    // width: 25%;
    padding: 10px 0;
}

table td:last-child {
    border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}